*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

ul{
    list-style: none;
    display: flex;
    gap: 8px;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.start-info{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.info{
    width: 400px;
    flex-direction: column;
}

.infoBtn{
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    padding: 4px 16px;
    margin-top: 10px;
}

.carInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cards{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 30px;
    font-weight: light;
    font-style: italic;
    padding: 20px 80px;
}

#author{
    display: flex;
    font-weight: bolder;
    font-size: 20px;
    justify-content: end;
}

.singup{
    padding: 40px 40px;
}

.form{
    display: flex;
    background-color: rgb(30, 90, 180);
    padding: 30px 30px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
}

.formBtn{
    color: white;
    border: 1px solid white;
    background-color: rgb(30, 90, 180);
    border-radius: 4px;
    padding: 4px 12px;
    font-weight: 900;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 15px;
    font-weight: 600;
    flex-direction: column;
    text-align: center;
}

.all{
    display: flex;
    flex-direction: column;
    flex: 1;
}
